In [ ]:
import pandas as pd
import numpy as np

In [ ]:
coffee = pd.read_csv(r"complete-pandas-tutorial\warmup-data\coffee.csv")
coffee.index.name = 'ID'
bios = pd.read_csv(r"complete-pandas-tutorial\data\bios.csv")
bios.index = bios["athlete_id"]
bios = bios.drop("athlete_id",axis=1)
bios_new = bios.copy()

In [ ]:
bios['born_country'].unique()

In [ ]:
bios["born_date"] = pd.to_datetime(bios["born_date"])
bios.info()

In [ ]:
bios[(bios['height_cm']>215)&(bios['born_country']=='USA')]

In [ ]:
bios[bios['born_country'].str.contains('IND', case=False, na=False)]

In [ ]:
bios[(bios['born_country']=='IND')&(bios['NOC']!='India')]

In [ ]:
bios[
    (bios['born_country'] != 'IND') &      # country not IND
    (bios['NOC'] == 'India') &             
    (bios['born_country'].notna()) &
    (bios['born_date']>'1947-08-15')                  
]

In [ ]:
coffee

In [ ]:
coffee.iloc[1,1]='cold coffe'
coffee.iloc[1,2]=35
coffee['new_Price']=np.where(coffee['Coffee Type']=='Espresso',3.99,None)
coffee['new_Price']=np.where(coffee['Coffee Type']=='Latte',4.59,coffee['new_Price'])
coffee

In [ ]:
coffee['revenue'] = coffee['Units Sold']*coffee['new_Price']
coffee

In [ ]:
coffee[(coffee['revenue']>170) & (coffee['Day']=='Friday')]

In [ ]:
coffee.rename(columns={'new_Price':'Price'},inplace=True)

In [ ]:
coffee

In [ ]:
bios_new['First_name']=bios_new['name'].str.split(' ').str[0]

In [ ]:
bios_new.loc[bios_new['First_name'] =="Keith"]
bios_new.query('First_name=="Keith"')

In [ ]:
bios_new['born_date'] = pd.to_datetime(bios_new['born_date'])
bios_new['born_year'] = bios_new['born_date'].dt.year
bios_new.info()

In [ ]:
bios_new

In [ ]:
bios_new.to_csv('.bios_new.csv')

In [ ]:
bios_new[bios_new['born_country'] == 'IND']['born_region'].value_counts().head(10)

In [ ]:
bios_new['height_cm'].value_counts().head()

In [ ]:
coffee

In [ ]:
coffee.pivot(index='Day',columns='Coffee Type',values='revenue')

In [82]:
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [85]:
pivot_df = bios.pivot_table(
    index=bios['born_date'].dt.year,   # row = year
    columns='born_country',            # column = country
    values='athlete_id',               # count athletes
    aggfunc='count'                    # aggregation function
).head(10)

print(pivot_df)

born_country  AFG  AGU  ALB  ALG  AND  ANG  ANT  ARG  ARM  ARU  ...  UZB  \
born_date                                                       ...
1828.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1831.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1833.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1836.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1837.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1838.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1839.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1840.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1841.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
1842.0        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN

born_country  Upland  VAN  VEN  VIE  VIN  Vienna  YEM  ZAM  ZIM
born_date
1828.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1831.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1833.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1836.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1837.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1838.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1839.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1840.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1841.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
1842.0           NaN  NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN

[10 rows x 236 columns]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20