In [4]:
import pandas as pd

In [37]:
coffee = pd.read_csv(r"D:\Programing Playground\Pands\complete-pandas-tutorial\warmup-data\coffee.csv")
coffee.index.name = 'ID'
bios = pd.read_csv(r"D:\Programing Playground\Pands\complete-pandas-tutorial\data\bios.csv")
bios.index = bios["athlete_id"]
bios = bios.drop("athlete_id",axis=1)

In [38]:
bios.head()

,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
athlete_id,,,,,,,,,
1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [50]:
bios["born_date"] = pd.to_datetime(bios["born_date"])
bios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145500 entries, 1 to 149814
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          145500 non-null  object
 1   born_date     143693 non-null  datetime64[ns]
 2   born_city     110908 non-null  object
 3   born_region   110908 non-null  object
 4   born_country  110908 non-null  object
 5   NOC           145499 non-null  object
 6   height_cm     106651 non-null  float64
 7   weight_kg     102070 non-null  float64
 8   died_date     33940 non-null   object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 11.1+ MB