In [ ]:
import pandas as pd
import numpy as np

In [ ]:
coffee = pd.read_csv(r"complete-pandas-tutorial\warmup-data\coffee.csv")
coffee.index.name = 'ID'
bios = pd.read_csv(r"complete-pandas-tutorial\data\bios.csv")
bios.index = bios["athlete_id"]
bios = bios.drop("athlete_id",axis=1)

In [ ]:
bios['born_country'].unique()

In [ ]:
bios["born_date"] = pd.to_datetime(bios["born_date"])
bios.info()

In [ ]:
bios[(bios['height_cm']>215)&(bios['born_country']=='USA')]

In [ ]:
bios[bios['born_country'].str.contains('IND', case=False, na=False)]

In [ ]:
bios[(bios['born_country']=='IND')&(bios['NOC']!='India')]

In [ ]:
bios[
    (bios['born_country'] != 'IND') &      # country not IND
    (bios['NOC'] == 'India') &             
    (bios['born_country'].notna()) &
    (bios['born_date']>'1947-08-15')                  
]

In [ ]:
coffee

In [62]:
coffee.iloc[1,1]='cold coffe'
coffee.iloc[1,2]=35
coffee['new_Price']=np.where(coffee['Coffee Type']=='Espresso',3.99,None)
coffee['new_Price']=np.where(coffee['Coffee Type']=='Latte',4.59,coffee['new_Price'])
coffee

          Day Coffee Type Units Sold new_Price
ID
0      Monday    Espresso         25      3.99
1      Monday  cold coffe         35      None
2     Tuesday    Espresso         30      3.99
3     Tuesday       Latte         20      4.59
4   Wednesday    Espresso         35      3.99
5   Wednesday       Latte         25      4.59
6    Thursday    Espresso         40      3.99
7    Thursday       Latte         30      4.59
8      Friday    Espresso         45      3.99
9      Friday       Latte         35      4.59
10   Saturday    Espresso         45      3.99
11   Saturday       Latte         35      4.59
12     Sunday    Espresso         45      3.99
13     Sunday       Latte         35      4.59