In [79]:
import pandas as pd

In [80]:
EMD = pd.read_csv("c:\\Users\\MICILMEDS\\Documents\\Medi_final\\correct_data\\Category\\Img_data_emds.csv")

In [81]:
EMD.drop_duplicates(inplace=True)

In [82]:
df_m = pd.read_excel("c:\\Users\\MICILMEDS\\Downloads\\20250924115002.xlsx")

In [83]:
EMD.sort_values(by=['product_name'], inplace=True)

In [84]:
df_m.sort_values(by=['Product Name'], inplace=True)

In [85]:
df_m['Product Name'] = df_m['Product Name'].str.lower().str.strip()
EMD['product_name'] = EMD['product_name'].str.lower().str.strip()

In [86]:
df_m['Product Name'] = df_m['Product Name'].str.replace(r'[^A-Za-z0-9 ]', '', regex=True)
EMD['product_name'] = EMD['product_name'].str.replace(r'[^A-Za-z0-9 ]', '', regex=True)

In [87]:
test1 = pd.merge(EMD, df_m, left_on='product_name', right_on='Product Name', how='inner')

In [88]:
test1['product_name'].unique().shape

(33156,)

In [114]:
test1.to_excel("c:\\Users\\MICILMEDS\\Documents\\Medi_final\\correct_data\\Category\\Img_match_data_test1.xlsx", index=False)

In [90]:
df_test = test1[['product_name', 'Product Code']]

In [91]:
df_test

                                           product_name Product Code
0                16 again horny goat weed 800mg capsule    MIC209150
1                16 again horny goat weed 800mg capsule    MIC209291
2                16 again horny goat weed 800mg capsule    MIC209150
3                16 again horny goat weed 800mg capsule    MIC209291
4                16 again horny goat weed 800mg capsule    MIC209150
...                                                 ...          ...
158360                onedrful life green coffee coffee    MIC272701
158361                onedrful life green coffee coffee    MIC272701
158362                onedrful life green coffee coffee    MIC272701
158363  onedrful life melatonin for restful sleep mango    MIC116135
158364  onedrful life melatonin for restful sleep mango    MIC116135

[158365 rows x 2 columns]

In [95]:
df_remaining = pd.merge(df_m, df_test, left_on='Product Name', right_on='product_name', how='left', indicator=True).query('_merge == "left_only"')

In [98]:
df_remaining.drop_duplicates
df_remaining

,Product Code_x,Product Name,product_name,Product Code_y,_merge
0,MIC184284,1 tree daddiction spray,NaN,NaN,left_only
1,MIC244644,10 niacinamide face serum 30ml each,NaN,NaN,left_only
2,MIC244732,10 niacinamide face serum 30ml each,NaN,NaN,left_only
47,MIC209259,16 again raw shilajit,NaN,NaN,left_only
48,MIC224786,18 herbs organics green tea bag 125gm each wit...,NaN,NaN,left_only
...,...,...,...,...,...
600640,MIC224115,nature vit soy milk powder 300gm each vanilla,NaN,NaN,left_only
600641,MIC224350,nature vit soy milk powder 300gm each vanilla,NaN,NaN,left_only
600642,MIC225234,nature vit soy milk powder chocolate,NaN,NaN,left_only
600643,MIC224793,nature vit soy milk powder chocolate,NaN,NaN,left_only
600644,MIC233711,nature vit soy milk powder chocolate,NaN,NaN,left_only

In [99]:
EMD_remaining = pd.merge(EMD, df_test, left_on='product_name', right_on='product_name', how='left', indicator=True).query('_merge == "left_only"')

In [102]:
EMD_remaining.drop_duplicates(inplace=True)

In [107]:
EMD_remaining['Product_test'] = (EMD_remaining['product_name'].str.rsplit(' ',n=1).str[0])

In [109]:
df_remaining['Product_test'] = (df_remaining['Product Name'].str.rsplit(' ',n=1).str[0])

In [110]:
df_remaining

,Product Code_x,Product Name,product_name,Product Code_y,_merge,Product_test
0,MIC184284,1 tree daddiction spray,NaN,NaN,left_only,1 tree daddiction
1,MIC244644,10 niacinamide face serum 30ml each,NaN,NaN,left_only,10 niacinamide face serum 30ml
2,MIC244732,10 niacinamide face serum 30ml each,NaN,NaN,left_only,10 niacinamide face serum 30ml
47,MIC209259,16 again raw shilajit,NaN,NaN,left_only,16 again raw
48,MIC224786,18 herbs organics green tea bag 125gm each wit...,NaN,NaN,left_only,18 herbs organics green tea bag 125gm each with
...,...,...,...,...,...,...
600640,MIC224115,nature vit soy milk powder 300gm each vanilla,NaN,NaN,left_only,nature vit soy milk powder 300gm each
600641,MIC224350,nature vit soy milk powder 300gm each vanilla,NaN,NaN,left_only,nature vit soy milk powder 300gm each
600642,MIC225234,nature vit soy milk powder chocolate,NaN,NaN,left_only,nature vit soy milk powder
600643,MIC224793,nature vit soy milk powder chocolate,NaN,NaN,left_only,nature vit soy milk powder
600644,MIC233711,nature vit soy milk powder chocolate,NaN,NaN,left_only,nature vit soy milk powder

In [111]:
test2 = pd.merge(EMD_remaining, df_remaining, left_on='Product_test', right_on='Product_test', how='inner')

In [113]:
test2['product_code'].unique().shape

(716,)